.content-main-box{
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 95%;
}


.content-main-box hr{
    margin: 25px 0px;
}

.content-main-box a{
    text-align: right;
}

.content-sub-box{
    /*background-color: blue;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.content-detail-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:23%;
    margin: 10px;
}

.content-sub-box img{
    width: 250px;
    height: 250px;
    background-color: gray;
}

